parameters:
    level: 1
    paths:
        - src
        - tests
    excludes_analyse:
        - %currentWorkingDirectory%/_data/*
        - %currentWorkingDirectory%/_output/*
    ignoreErrors:
        -
            message: '#Function imagefilledpolygon invoked with 3 parameters\, 4 required\.#'
            path: %currentWorkingDirectory%/src/BaseDraw.php
